<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/queue.v1.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>
    <script type="text/javascript" src="https://fgnass.github.io/spin.js/spin.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='map_nyc.css') }}">

</head>
<body>

<div id="searchbar">
    <div id="logo">
        ForecastAer
    </div>
    <div id="location_controls">
        <input id="location_input" type="text" placeholder="Enter location">
        <div id="geo_loc">
            <img width="20" height="18" src="{{ url_for('static', filename='images/cur_loc.png') }}">
            current location
        </div>
    </div>
    <div id="units_toggle">
        <span id="AQI_u" class="u_selected">AQI</span>
        <span class="slash"> / </span>
        <span id="PM25_u" class="u_unselected">PM 2.5</span>
        <span class="slash"> / </span>
        <span id="O3_u" class="u_unselected">O3</span>
    </div>
</div>

<div id="container">

    <div id="loading"></div>

    <div id="d3map"></div>
    <div id="loc_container">

        <table id="curr_loc" align="center">
            <tbody>
                <tr>
                    <td width="40%" class="curr_loc_label">PM2.5</td>
                    <td width="60%" id="curr_loc_PM25" class="curr_loc_output">-</td>
                </tr>
                <tr>
                    <td width="40%" class="curr_loc_label">O3</td>
                    <td width="60%" id="curr_loc_O3" class="curr_loc_output">-</td>
                </tr>
                <tr>
                    <td width="40%" class="curr_loc_label">AQI</td>
                    <td width="60%" id="curr_loc_AQI" class="curr_loc_output">-</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='map_nyc.js') }}"></script>

</body>

